/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
html {
	scroll-behavior: smooth;
}
body {
	max-width: 1140px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
}
body.login {
	margin-top: 95px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1 > span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li a {
	text-decoration: none;
	color: #000;
	transition: color 0.3s ease-out;
}
a:hover {
	color: #b1663c;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.protfolio-title-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}
.protfolio-title-container .portfolio-edition-mode {
	margin-left: 30px;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	cursor: pointer;
	display: none;
}
.protfolio-title-container .portfolio-edition-mode img {
	margin-right: 10px;
}
.protfolio-title-container .portfolio-edition-mode .open-modal-btn {
	text-decoration: none;
	color: #000;
}
#portfolio .filters-btn-container {
	text-align: center;
	margin: 30px 0 40px;
}
.filters-btn-container .filter-btn {
	border-radius: 60px;
	border: 1px solid #1d6154;
	padding: 9px 15px;
	margin: 0 5px;
	background: transparent;
	color: #1d6154;
	font-weight: 700;
	font-family: "Syne";
	cursor: pointer;
}
.filters-btn-container .filter-btn.filter-active {
	background: #1d6154;
	color: #fff;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 96%;
}
#contact,
.login-main {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2 {
	margin-bottom: 20px;
}
#contact form,
.login-form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
.login-form input,
.input-group input,
select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
.login-form label,
.input-group label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/* Login page */
.login-title {
	color: #1d6154;
	text-align: center;
	font-family: Syne;
	font-size: 30px;
	font-weight: 700;
	margin: 150px 0 37px;
}
.login-form label {
	color: #3d3d3d;
	font-family: "Work Sans";
	font-weight: 500;
}
.login-error-msg {
	text-align: center;
	margin-top: 10px;
	color: #b1663c;
}
.login-forget-pwd {
	text-decoration: underline;
	text-align: center;
	color: #3d3d3d;
	font-family: Work Sans;
	font-weight: 500;
	cursor: pointer;
}
.logout-btn {
	border: none;
	background: transparent;
	font-family: "Work Sans";
	color: #000;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: color 0.3s ease-out;
}
.logout-btn:hover {
	color: #b1663c;
}

/* Form */
.hidden {
	display: none;
}
.go-back-btn {
	left: 30px;
}
.add-project-form .form-title {
	margin-bottom: 36px;
}
.input-group {
	display: flex;
	flex-direction: column;
}
.input-group .add-project-icon {
	width: 76px;
	height: 76px;
	margin: 0 auto;
}
.input-group .add-project-icon.preview {
	height: 130px;
}
.input-group:nth-child(1) {
	background: #e8f1f6;
	border-radius: 3px;
	padding: 22px 123px 19px;
	text-align: center;
}
.input-group:nth-child(1).resetPadding {
	padding: 0 123px;
}
.input-group:nth-child(1) label {
	margin: 6px 0 7px;
	background: #cbd6dc;
	border-radius: 50px;
	color: #306685;
	font-weight: 500;
	padding: 10px 33px;
	cursor: pointer;
}
#add-project-input {
	display: none;
}
.add-project-parag {
	font-size: 10px;
	color: #444;
}
.form-error-msg {
	color: #b1663c;
	text-align: center;
	margin: 10px 0 0;
}
.add-project-form hr {
	margin: 45px 0 30px;
}

/* Success PopUp */
.success-popup {
	text-align: center;
	position: absolute;
	bottom: 5px;
	right: 5px;
	border: 2px solid #1d6154;
	padding: 10px 15px;
	border-radius: 5px;
	color: #1d6154;
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.success-popup.success {
	opacity: 1;
	transform: translateY(0);
}
